html{
    background-color:rgb(7, 163, 247);
}
div
{
    border-radius: 15px;
    background-color: white;
    margin: auto;
    width: 20rem;
    height: 30rem;
    margin-top: 8rem;
}
.text{
    background-color: #eeeaea;
    border-radius: 9px;
    height: 57px;
    width: 265px;
    margin-left: 23px;
    margin-top: 19px;
    border-color: #eeeaea;
    font-weight: bold;
    font-size: 22px;
    
}

.small{
    width: 57px;
    height: 57px;
    margin-top: 19px;
    margin-left: 24px;
    margin-right: -14px;
    border-radius: 13px;
    font-weight: bold;
    font-size: 22px;
   
}
.yellow{
    background-color: rgb(255, 214, 109);
    border-color: rgb(255, 214, 109);
}
.blue{
    background-color: rgb(155, 225, 255);
    border-color: rgb(155, 225, 255);
}
.red{
    background-color: rgb(255, 81, 81);
    border-color: rgb(255, 81, 81);
    color: white;
}
.large{
    width: 127px;
    height: 57px;
    margin-top: 19px;
    margin-left: 24px;
    margin-right: -14px;
    border-radius: 13px;
    font-weight: bold;
    font-size: 22px;
    background-color: rgb(17, 231, 135);
    border-color:rgb(17, 231, 135);
    color: white;
}